<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>Donor Home</title>
</head>
<body>



         <table align="center">
            <tr>
                <td>
                    <img src="{% static 'images/blood_donor_icon.png' %} " width="150" height="100">
                </td>
                <td>
                    <font size="8" face="Arial">
                        Blood Donor
                    </font>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <marquee>
                      <font size="3" face="Arial">
                        Donate Blood and Save life's
                    </font></marquee>
                </th>
            </tr>
        </table>


         <table align="center" border="2">
            <tr>
                <th width="120">
                    <a href="/opendonorhome/?type=d_home&name={{ name }}&email={{ email }}">
                        Home
                    </a>
                </th>

                <th width="120">
                    <a href="/donor_update_profile/?type=d_update&email={{ email }}">
                        Update Profile
                    </a>
                </th>
                <th width="180">
                    <a href="//">
                        View Organization's
                    </a>
                </th>
                <th width="120"> View Donor's </th>
                <th width="120">
                    <a href="//" target="_blank">
                        Logout
                    </a>
                </th>
            </tr>
        </table>


         <table align="center">
             <th width="300">
                 <h3>
                      Welcome :  {{ name }} -- {{ email }}
                 </h3>
             </th>
         </table>


         {% if type == 'd_home' %}
         <table align="center">
             <tr>
                 <td width="300">
                    <img src="{% static '/images/d_image.jpg' %}" width="250" height="250">
                 </td>
             </tr>
         </table>
         {% endif %}

         {% if type == 'd_update'%}
             <form action="/donorupdate/" method="post">
    {% csrf_token %}
        <table align="center">
            {% for x in result %}
            <tr>
                <td>
                    <input type="text" name="t1" value="{{ x.name }}">
                </td>
            </tr>
             <tr>
                <td>
                    <input type="number" name="t2" value="{{ x.contact_no }}">
                </td>
            </tr>
             <tr>
                <td>
                    <input type="text" name="t3" value="{{ x.city_name }}">
                </td>
            </tr>
             <tr>
                <td>
                    <input type="password" name="t4" value="{{ x.password }}">
                </td>
            </tr>
             <tr>
                <td>
                   <input type="text" name="t5" value="{{ x.email_id }}">
                </td>
            </tr>
            <tr>
                <td> <input type="submit" value="Update"></td>
            </tr>
        </table>
             {% endfor %}
</form>
         {% endif %}
</body>
</html>